@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Prompt:wght@300&family=Rajdhani:wght@500&display=swap');

/* background colour and fonts for body, headings and buttons */
body {
    background-color: #efdeef;
    color: black;
    font-family: Prompt, Arial, Helvetica, sans-serif;
    font-size: x-large;
}

h1 {
    font-family: Rajdhani, Arial, Helvetica, sans-serif;
    font-size: xxx-large;
    margin-bottom: -30px;
}

h2 {
    font-family: Prompt, Arial, Helvetica, sans-serif;
    font-size: x-large;
}

footer {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 80%;
}


/* general css - built for screen display of 1440x1242 (equivalent to large laptop on dev tools)*/

h1,
p {
    text-align: center;
}


#main {
    border: 4px solid black;
    text-align: center;
    border-radius: 40px;
    width: 75%;
    background-color: #dbc5ef;
    padding: 0 60px 15px 60px;
    margin: auto;
}

.hide {
    display: none;
}

#score-area {
    font-size: 150%;
}

/* buttons */

/*change colour*/
.answer-btn {
    display: grid;
    margin: auto;
    background-color: #7efff8;
    color: black;
    font-size: 27px;
    width: 450px;
    border: 2px solid #07ccbc;
    border-radius: 10px;
}

.btn-spacing {
    margin-bottom: 1%;
}

.answer-btn:hover {
    border-color: #3b06ff;
}

#begin {
    /* display: grid; */
    margin: auto;
    background-color: #86079f;
    color: whitesmoke;
    font-size: 22px;
    width: 175px;
    height: 45px;
    border: 2px solid #736b76;
    border-radius: 10px;
}

#next {
    margin: auto;
    background-color: #86079f;
    color: whitesmoke;
    font-size: 22px;
    width: 175px;
    height: 45px;
    border: 2px solid #736b76;
    border-radius: 10px;
}

#back {
    margin: auto;
    background-color: #86079f;
    color: whitesmoke;
    font-size: 22px;
    width: 175px;
    height: 45px;
    border: 2px solid #736b76;
    border-radius: 10px;
}

#end {
    margin: auto;
    background-color: #86079f;
    color: whitesmoke;
    font-size: 22px;
    width: 175px;
    height: 45px;
    border: 2px solid #736b76;
    border-radius: 10px;
}

#restart {
    margin: auto;
    background-color: #86079f;
    color: whitesmoke;
    font-size: 22px;
    width: 175px;
    height: 45px;
    border: 2px solid #736b76;
    border-radius: 10px;
}


/* images */

#albert {
    width: 300px;
    height: 300px;
}

section {
    display: flex;
    justify-content: center;
}

/* media queries - using 'Am I Responive" suggested viewports*/

/* for mobile screens 320px by 480px */

@media screen and (max-width:425px) and (min-width:320px) {

    body {
        font-size: 20px;
    }

    #main {
        padding: 0 25px 10px 25px;
    }

    .answer-btn {
        width: 230px;
    }


    .btn-spacing {
        margin-bottom: 3%;
    }

    h2 {
        font-size: 25px;
    }

    #score-area {
        font-size: 100%;
    }
}