@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&family=Rajdhani:wght@500&display=swap');

/* background colour and fonts for body, headings and buttons */
body {
    background-color: #dbc5ef ;
    color: black;
    font-family: prompt, Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Rajdhani, Arial, Helvetica, sans-serif;
}

button {
    background-color: #6e00e3;
    color: whitesmoke;
    border-color: black;
}
